server {
	root /var/www/wordpress;
	index index.php;

	listen  0.0.0.0:80;

	# Rewrite URLs: unless the request is for a valid file, send to index.php
	if (!-e $request_filename)
	{
		rewrite ^(.+)$ /index.php?q=$1 last;
	}

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	#
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		#fastcgi_pass 127.0.0.1:9000;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		include fastcgi_params;
	}
}
